/*Main*/

@media (min-width:240px) and (max-width:880px){
    main{
        height: auto;
    }
    body{
        font-size: 1rem;
    }
    
    h1 {
        text-align: center;
        font-weight: 400;
    }
    
    .calculator{
        max-width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .column{
        width: 100%;
        height: auto;
    }
    footer{
        font-size: 0.7rem;
    }
}


